@import '../block/var';
@import '../block/mixin';
.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
//Главная страница
@import '../block/header';
@import '../block/promo';
@import '../block/product';
@import '../block/items';
@import '../block/avantages';
@import '../block/subscribe';
@import '../block/footer';
//Страница Catalog
@import '../block/page_heading';
@import '../block/catalog_filters';
@import '../block/page_pagination';
//Страница Product
@import '../block/product_photo_slider';
@import '../block/product_information';
//Страница Cart
@import '../block/cart';

//Страница Registration
@import '../block/registration';



